altgraph==0.17.3
asttokens==2.2.1
backcall==0.2.0
certifi==2022.12.7
charset-normalizer==2.1.1
cmake==3.25.0
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
filelock==3.9.0
fonttools==4.40.0
h5py==3.9.0
idna==3.4
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
kiwisolver==1.4.4
lit==15.0.7
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-scalebar==0.8.1
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pyinstaller==5.12.0=
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
PySide2==5.15.2.1
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.28.1
shiboken2==5.15.2.1
shiboken6==6.5.1.1
six==1.16.0
stack-data==0.6.2
sympy==1.11.1
tifffile==2023.4.12
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.6
ypstruct==0.0.2
